<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-md-flex collapse navbar-collapse justify-content-md-between " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link " href="/campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">New</a>
            </div>

            <div class="navbar-nav">
                <% if (user){ %>
                    <a class="nav-link " href="/users/<%=user._id %>"><svg xmlns="http://www.w3.org/2000/svg"
                            width="1.4em" height="1.4em" fill="currentColor" class="bi bi-person-circle"
                            viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg></a>
                    <% }else{%>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Sign Up</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>